
.five:hover{
    cursor: pointer !important;
    background: rgb(161, 158, 158) !important;
    border-radius: 20px !important;
}
.zazu {
    margin-left: 10px;
}
.coco {
    margin-left: 620px;
}
.one{
    margin-left: 70px;
}
.two{
    margin-right: 10px;
    
}
.three{
    border-radius: 50px !important;
}
.four{
    text-align: center;
}
.six{
    position: fixed !important;
    width: 100%;
}
.seven{
    width: 100%;
    height: 90%;
}
.all:hover{
    cursor: pointer;
    background-color: rgb(201, 193, 193);
}
.eight{
    text-align: center;
}
.nine{
    border-radius: 200px;
}
.ten{
    background-color: white;
    width: fit-content !important;
    box-shadow: 2px 2px  rgb(247, 244, 244); 
    border-radius: 20px;
}
.eleven{
    height: 70% !important;
}
.twelve{
    color: rgb(19, 18, 18) !important;
}